@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game Tracker</h1>
    <img src= "~/img/images (1).jpeg" alt="Game_logo" width="400" hight="400" />
</div>
